* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Assistant',
        Arial,
        sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

/*
html {
    background: url("..\\images\\mobile-background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100vh;
}

@media(min-width: 600px) {
    html {
        background: url("..\\images\\desktop-background.jpg") no-repeat center center fixed;
        background-size: cover;
    }
}
*/

body {
    /*height: 2000px;*/
    display: flex;
    flex-direction: column;
    font-family: 'Assistant',
        Arial,
        sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

input:hover,
button:hover {
    cursor: pointer;
}

.background-img {
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    z-index: -10;
    transform: translate3d(0, 0, 0);
}

.main-wrapper {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.menu-container {
    width: 100%;
    height: 13vh;
    z-index: 10;
    position: fixed;
    color: #18a1b9;
    background-color: #152b35;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.menu .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu .icon-container {
    /*cursor: pointer;*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 15;
    /*background-color: #f1f1f1;*/
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */

    -webkit-user-select: none;
    /* Safari 3.1+ */
    -moz-user-select: none;
    /* Firefox 2+ */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Standard syntax */
}

/*
.bar12,
.bar22,
.bar32 {
    width: 30px;
    height: 3.5px;
    background-color: #18a1b9;
    margin: 3.5px 0;
    transition: 0.4s;
}

.menu .icon-container2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}
*/
.bar1,
.bar2,
.bar3 {
    width: 30px;
    height: 3.5px;
    background-color: #18a1b9;
    margin: 3.5px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-7px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.nav-container {
    width: 100%;
    z-index: 9;
    position: fixed;
    display: flex;
    background-color: #1e3b49;
    justify-content: flex-end;
    transform: translate(0, -500px);
    transition: 0.3s;
    /*
    transform: translateY(-50px);
    transform: translateZ(-1);*/
}

.navbar {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 120px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.nav-container a {
    text-align: right;
    padding-bottom: 12px;
    font-size: 25px;

    transition: 0.3s;
    color: #18a1b9;
    font-weight: 600;
    display: block;
}

.nav-container a:hover {
    color: #f1f1f1;
}

.page {
    display: flex;
    justify-content: center;
    /*border: 1px solid red;*/
}

.home {
    height: 100vh;
    align-items: flex-start;
}

.home-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.page .home-container span {
    display: block;
    text-align: center;
    font-family: 'Assistant',
        Arial,
        sans-serif;
}

.home-container .buisness {
    font-size: 35px;
    font-weight: 900;
    color: #ffffff;
}

.home-container .good {
    font-size: 25px;
    min-height: 33px;
    color: white;
    margin: 0 auto;
    border-left: solid 3px #18a1b9;
    padding-left: 1px;
    white-space: pre;
    animation: animated-cursor 600ms steps(29, end) infinite;
}

@keyframes animated-cursor {
    from {
        border-left-color: #18a1b9;
    }

    to {
        border-left-color: transparent;
    }
}

.porfolio {
    background-color: white;
    flex-direction: column;

}

/*k
.porfolio span {
    color: #152b35;
    text-align: right;
    padding: 5px;
    font-weight: 800;
    font-size: 40px;
    border-right: 4px solid #18a1b9;
    margin: 8vh 4vh 3vh 0;
    padding: 0 2vh 2vh 0vh;
    transform: translateX("-30px");
}*/

.page-span {
    color: #152b35;
    text-align: right;
    padding: 5px;
    font-weight: 800;
    font-size: 40px;
    border-right: 4px solid #18a1b9;
    margin: 8vh 4vh 3vh 0;
    padding: 0 2vh 2vh 0vh;
    transform: translateX("-30px");
}

.about-img-fadein-animation, 
.span-fadein-animation {
    visibility: visible;
    transform: translateX("30px");
    transition: 1s;
    animation: fadeIn 1000ms steps(29, end) both;
}

.portfolio-img-container {
    padding: 0 4vh 2vh 4vh;
    /*transform: rotateY(180deg);*/
}

.portfolio-img-container img {
    max-width: 100%;
    max-height: 100%;
}

.img-fadein-animation {
    visibility: visible;
    transform: rotateY(360deg);
    transition: 1s;
    animation: fadeIn 1000ms steps(29, end) both;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        /*transform: translateX(200px);*/
    }

    50% {
        opacity: 0;
        /*transform: translateX(200px);*/
    }

    100% {
        opacity: 1;
        /*transform: translateX(0);*/
    }
}

.comments-container {
    overflow-x: scroll;
    display: flex;
    white-space: nowrap;
}

.comment-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    padding: 0 20px;
    min-width: 100vw;
}

.comment-container>span {
    text-align: center;
    font-size: 30px;
    color: white;
}

.comment-container>span:first-of-type {
    font-size: 50px;
    font-weight: 700;
}

.fi-star {
    color: yellow;
    display: inline;
    font-size: 30px;
    padding: 3px;
}

.lets-start {
    align-items: center;
}

.lets-start-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    padding: 0 20px;
}

.lets-start-container span {
    text-align: center;
    font-size: 30px;
    color: white;
}

.lets-start-container span:first-of-type {
    font-size: 50px;
    font-weight: 700;
}

.form-button {
    background-color: #18a1b9;
    border: none;
    color: white;
    font-size: 35px;
    font-weight: 700;
    border-style: none;
    display: block;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 30px;
}

.button-fadein-animation {
    visibility: visible;
    transition: 1s;
    animation: tiltIn 1000ms steps(29, end) both;
}

@keyframes tiltIn {
    /*0% {
        opacity: 0;
        /*transform: translateX(200px);*
    }*/

    0% {
        opacity: 0;
        transform: rotate(20deg) scale(0.6);
        /*transform: translateX(200px);*/
    }

    40% {
        transform: rotate(-20deg) scale(1);
    }

    60% {

        transform: rotate(10deg);
    }

    80% {
        opacity: 1;
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0deg);
        /*transform: translateX(0);*/
    }
}

.about {
    background-color: white;
    flex-direction: column;
}

.about .about-container {
    align-items: center;
    flex-direction: column;
    display: flex;
}

.about img {

}

.about section {
    padding: 1em;
    font-family: 'Assistant',
        Arial,
        sans-serif;
    font-size: 25px;
    color: #152b35;
}

.contact {
    background-color: white;
    flex-direction: column;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 6vw 10px 6vw;
}

.form-container>label {
    font-size: 30px;
    color: #18a1b9;
    padding: 0 17px 3px 17px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    position: relative;
}

.form-container>label:after {
    position: absolute;
    border-bottom: #18a1b9 2px solid;
    content: "";
    width: 30%;
    right: 0;
    bottom: 0;
}

.form-container>input {
    text-align: right;
    font-size: 30px;
    margin: 5px 0;
    padding: 0 17px 3px 0;
    border: none;
    border-bottom: #18a1b9 2px solid;
    width: 100%;
    overflow: visible;
}


.form-container>button {
    width: fit-content;
    padding-top: 0;
    margin-top: 10px;
}